<!doctype html>
<html>
<head>
<title>Post a Picture</title>
</head>

<body>
<h1>YO</h1>
<form action="/postPicture/record/" method="post" enctype="multipart/form-data">
    Username:
    <INPUT TYPE="text" NAME="username"
        SIZE="50" MAXLENGTH="40">
    <br>
    Password:
    <INPUT TYPE="text" NAME="password" SIZE="30" MAXLENGTH="40">
    <br><br>
    Picto Battle?
    <input type="checkbox" name="battleSelector" value="True">
    <br><br>
    Description:
    <TEXTAREA NAME="description"
        wrap="soft" ROWS="3" COLS="25"></TEXTAREA>
<br><br>
<INPUT TYPE="submit" value="post!">
</form>
</body>
</html>
