<!doctype html>
<html>
<head>
<title>Sign Up</title>
</head>

<body>
<form action="/user/signUp" method="POST">
    <table style="width:100%">
        <tr>
            <td>Username:</td>
            <td><INPUT TYPE="text" NAME="username"
                SIZE="50" MAXLENGTH="40"></td>
        </tr>
        <br><br>
        <tr>
            <td>Email:</td>
            <td><INPUT TYPE="text" NAME="email" SIZE="30" MAXLENGTH="40"></td>
        </tr>
        <br><br>
        <tr>
            <td>Password:</td>
            <td><INPUT TYPE="text" NAME="password" SIZE="30" MAXLENGTH="40"></td>
        </tr>
        <br><br>
    </table> 
<INPUT TYPE="submit" value="post!">
</form>
</body>
</html>
